@use "../../styles/partials/variables" as *;

.projects {
    padding: 60px 0 100px 0;
    position: relative;
    background-color: $backgroundColor3;

    &__header {
        font-size: 45px;
        font-weight: 700;
        text-align: center;
    }

    &__description {
        color: #b8b8b8;
        font-size: 18px;
        letter-spacing: 0.8px;
        line-height: 1.5em;
        margin: 14px auto 30px auto;
        text-align: center;
        width: 56%;
    }

    &__nav-pills {
        width: 72%;
        margin: 0 auto 3rem auto !important;
        border-radius: 50px;
        background-color: rgb(255 255 255 / 10%);
        overflow: hidden;

        .nav-item {
            width: 33.33333%;
        }

        .nav-link {
            background-color: transparent;
            border-radius: 0;
            padding: 17px 0;
            color: $textColor1;
            width: 100%;
            font-size: 17px;
            letter-spacing: 0.8px;
            font-weight: 500;
            position: relative;
            transition: 0.3s ease-in-out;
            text-align: center;
            z-index: 0;

            &::before {
                content: "";
                position: absolute;
                width: 0;
                height: 100%;
                background: linear-gradient(
                    90.21deg,
                    #aa367c -5.91%,
                    #4a2fbd 111.58%
                );
                top: 0;
                left: 0;
                z-index: -1;
                transition: 0.3s ease-in-out;
            }

            &#projects-tabs-tab-first {
                border: 1px solid rgba(255, 255, 255, 0.5);
                border-radius: 55px 0px 0px 55px;
            }

            // copy this for any tabs in the middle
            &#projects-tabs-tab-second {
                border-top: 1px solid rgba(255, 255, 255, 0.5);
                border-bottom: 1px solid rgba(255, 255, 255, 0.5);
            }

            // edit this to be the last tab
            &#projects-tabs-tab-third {
                border: 1px solid rgba(255, 255, 255, 0.5);
                border-radius: 0 55px 55px 0;
            }
        }

        .nav-link.active {
            border: 1px solid rgba(255, 255, 255, 1);

            &::before {
                width: 100% !important;
            }
        }
    }
}

// Background stylings that flow into the footer
.absolute-background-right {
    top: 20%;
    position: absolute;
    bottom: 0;
    width: 62%;
    right: 0;
    z-index: -4;
}
