// Color Palate

$backgroundColor1: #121212;
$backgroundColor2: #282828;
$backgroundColor3: rgba(0, 0, 0, 0.85);
$backgroundColor4: #ffffff;

$textColor1: #fff;
$textColor2: #b8b8b8;
$textColor3: #000;
