@use "../../styles/partials/variables" as *;

.contact-form {
    background: transparent;
    padding: 0px 0 50px 0;

    position: relative;

    &__box {
        padding: 60px;
        border-radius: 64px;
        background: linear-gradient(90.21deg, #aa367c -5.91%, #4a2fbd 111.58%);
        margin-top: -50px;
    }

    &__hero {
        width: 92%;
    }

    &__header {
        font-size: 45px;
        font-weight: 700;
        margin-bottom: 30px;
    }

    &__email {
        width: 100%;
        flex-grow: 1;
    }

    &__input {
        width: 100%;
        background: rgba(255, 255, 255, 0.1);
        border: 1px solid rgba(255, 255, 255, 0.5);
        border-radius: 20px;
        color: $textColor1;
        margin: 0 0 8px 0;
        padding: 18px 26px;
        font-weight: 500;
        font-size: 18px;
        letter-spacing: 0.8px;
        transition: 0.3s ease-in-out;

        &:focus {
            background: rgba(255, 255, 255, 1);
            color: #121212;

            &::placeholder {
                color: #121212;
                opacity: 0.8;
            }
        }

        &::placeholder {
            font-size: 16px;
            font-weight: 400;
            color: $textColor1;
        }
    }

    &__message {
        @extend .contact-form__input;
    }

    &__button {
        font-weight: 700;
        color: $textColor3;
        background-color: $backgroundColor4;
        padding: 14px 48px;
        font-size: 18px;
        margin-top: 25px;
        border-radius: 0;
        position: relative;
        transition: 0.3s ease-in-out;

        &:hover {
            color: #fff;

            &::before {
                width: 100%;
            }
        }

        &::before {
            content: "";
            background: $backgroundColor1;
            width: 0;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;
            transition: 0.3s ease-in-out;
        }
    }

    &__button-text {
        z-index: 1;
        position: relative;
    }
}

.danger {
    color: red;
}

.success {
    color: #0fff50;
}
